.detail-page-option {
  display: flex;
  width: -webkit-fill-available;
  position: absolute;
  bottom: 0px;
}

.detail-page-option > div {
  flex: 1 1;
  margin-right: 10px;
}

.detail-page-option > div > form > button {
  border-radius: 0.25rem;
}

.detail-page-option > form > button {
  border-radius: 0.25rem;
  cursor: pointer;
}

.category {
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 30px;
}

.rest_detail_page {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'main suggestion';
  grid-gap: 20px;
}

.left-col {
  grid-area: main;
}

.right {
  grid-area: suggestion;
}

.main-info {
  display: flex;
  margin: 20px 0px;
}

.main-info > :nth-child(1) {
  width: 60%;
}

.main-info > :nth-child(1) > img {
  width: -webkit-fill-available;
}

.main-info > :nth-child(2) {
  position: relative;
  display: flex;
  flex-flow: column;
  padding-left: 20px;
  width: 40%;
}

.rating {
  font-size: 20px;
  margin-bottom: 20px;
}

.more-info {
  display: flex;
  font-size: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.description {
  width: 50%;
  margin-right: 30px;
}

.contact {
  widows: 50%;
}

.contact > ul > li > i {
  width: 30px;
  height: 30px;
}

.comments {
  padding-top: 30px;
}

.comments-count {
  margin-bottom: 20px;
}

.comments-area {
  border: 0px;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0px;
  margin: auto;
  margin-left: 25px;
}

.comments-area:focus {
  border-bottom: 2px solid #707070;
}

.comments-image {
  width: 60px;
  height: 60px;
  background-size: cover;
  border-radius: 50%;
  grid-area: img;
}

.comments-grid {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'img text';
  margin-bottom: 0px;
}

.right {
  grid-area: text;
  padding-left: 20px;
}
