@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/css?family=Quicksand:700&display=swap);
:root {
  --color1: #fce6d9;
  --color2: #f7c9d4;
  --color3: #dd9ba5;
  --color4: #9f8189;
  --color5: #c06c84;
  --color6: #6d5c7c;
  --english: 'Quicksand', sans-serif;
  --title: 24px;
}

ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p {
  font-family: var(--english);
}
a:hover {
  text-decoration: none;
}

.navbar {
  background-color: var(--color4);
}

.navbar-brand {
  color: #fff;
}
.navbar-brand:hover {
  color: var(--color1);
}

.nav-link {
  color: var(--color3);
}

.nav-link:hover {
  color: var(--color2);
}

.nav-link.active {
  background-color: var(--color3) !important;
}

p.card-text > a {
  color: var(--color4) !important;
}

.search {
  margin-right: 30px;
}
.search > input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid#fff;
  padding-left: 32px;
  color: #fff;
}

.search > i {
  background-color: transparent;
  border: 0.5px solid#fff;
  padding: 5px;
  margin-left: -2px;
  color: #9f8189;
  position: absolute;
  background: #fff;
}

.logout {
  background: transparent;
  color: #fce6d9;
  border: 2px solid #fce6d9;
}
.logout:hover {
  background-color: var(--color1);
  color: #9f8189;
}

.scale:hover {
  transform: scale(1.05);
  transition: transform 0.8s;
  width: 100%;
  height: auto;
}

.restaurants-top {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 180px;
}

.restaurants-bottom {
  height: 152px;
  padding: 10px 15px;
}
.restaurants-bottom > p:nth-child(1) {
  margin: 0px;
  font-size: var(--title);
}
.restaurants-bottom > p:nth-child(3) {
  margin-top: 10px;
}

.page-item.active .page-link {
  background-color: var(--color4);
  color: var(--color1);
  border-color: var(--color4);
}

.page-link {
  background-color: var(--color1);
  color: var(--color4);
  border-color: var(--color1);
}

.signup,
.signin {
  background-color: var(--color4);
  color: #fff;
}

.other-option {
  border: 2px solid var(--color4);
  color: var(--color4);
  margin-top: 10px;
  border-radius: 5px;
}

.other-option > p {
  padding: 8px 16px;
  margin: 0px;
}
.other-option > p > a {
  color: var(--color4);
}

.search {
  position: relative;
}

.search-field::placeholder {
  color: #fff;
  opacity: 1;
}

.match {
  background: #dd9ba5;
}

.suggestions {
  position: absolute;
  right: 0px;
  width: 174px;
  height: fit-content;
  max-height: 200px;
  overflow: scroll;
  background: #fff;
  border: solid 1px var(--color4);
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.0975);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.0975);
}

.suggestions > li {
  letter-spacing: 1.5px;
  border-bottom: solid 1px #efefef;
  padding: 5px 10px;
}

.suggestions > li:hover {
  background-color: #fafafa;
}

.suggestions > li > a {
  color: black;
}

.save {
  background-color: var(--color3);
  color: #fff;
}

.remove {
  background-color: var(--color4);
  color: var(--color1);
}

.save,
.remove {
  width: -webkit-fill-available;
  border: none;
  padding: 7px 0px;
  border-radius: 0px 0px 0px 0.25rem;
}

.card-footer.footer-option {
  padding: 0px;
}

.fa-heart {
  padding-right: 5px;
  font-size: 14px;
}

.footer-option {
  width: 50%;
}
